.stockListDiv {
  list-style: none;
  margin: 0 auto;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 3rem;
  background: #00135f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.stockList {
  list-style: none;
  margin: 0 auto;
  padding: 0.2rem;
}

.li {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  margin: 0.2rem;
  font-family: sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid #ffff;
  font-weight: bold;
  color: #ffff;
}
